
h4 {
  margin: 0;
}

p {
  margin: 0;
}

i {
  padding: 0 5px;
}

.offer-header {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-header--link-all-offers {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.offer-item-content {
  margin: .3rem;
  border-radius: 3px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
}

.offer-item-content--text {
  width:100%;
  text-align: center;
  color: white;
  background: black;
  opacity: 75%;
  cursor: pointer;
}

.top-offers-slider {
  border: 2px solid lightgray;
}
