:host {
  padding: 20px;
}

.add-new-file {
  display: flex;
  justify-content: flex-end;
}

.file-container {
  height: 300px;
  border: 1px solid lightgray;
  margin-bottom: 5px;
}

mat-grid-tile {
  margin: 5px;

}

mat-grid-tile-header {
  display:flex;
  align-items:center;

}

img {
  width: 100%;
}
