:host {
  padding: 20px;
}


.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header p {
  margin: 0;

}

.delete-icon:hover {
  color: red;
  cursor: pointer
}

.add-new-file {
  display: flex;
  justify-content: flex-end;
}

.file-container {
  height: 300px;
  border: 1px solid lightgray;
  margin-bottom: 5px;
}


img {
  width: 100%;
}
