<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon [matTooltip]=providerName>account_circle
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="menu-company-name">
      <span class="hotelName">{{providerName}}</span>
    </div>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span [routerLink]="'account-settings'">Account settings</span>
    </button>
    <button (click)="clickOnLogOut()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</div>
