:host {
  $background-color: #F8F9F9;

  .results-sidebar {
    height: 100vh;
    background-color: $background-color;
    padding: 20px;
  }
  .form-field {
    display: flex;
    flex-direction: column;
  }
}
