<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 offset-lg-1">
      <div class="row">
        <div class="col-lg-7">
          <div class="form-group">
            <mat-form-field class="w-100">
              <mat-label>Choose your destination!</mat-label>
              <mat-select [(value)]="city" (selectionChange)="onChange()">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-5">
          <!--                    <mat-form-field class="w-100">
                                  <mat-label>Person</mat-label>
                                  <input matInput type="number" step="1" min="1" max="5">
                              </mat-form-field>-->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <button mat-stroked-button (click)="onShowResults()" color="primary" [disabled]="buttonToggle">Show results</button>
        </div>
        <div class="col-lg-7 d-flex">
          <a class="link" routerLink="/results">Browse all offers</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1">
      <h1 class="heading-form-title">Best Hotel Offers</h1>
      <h3>The best prices you can get, save on your vacation!</h3>
    </div>
  </div>
</div>
