mat-card {
  margin: 20px 0;
}

mat-card-title {
  font-size: xx-large;
  padding: 3px 0;

}

mat-card-subtitle {
  font-size: larger;
  border-bottom: 2px solid lightgray;
  padding: 3px 0;
}


.price {
  color: dodgerblue;
  font-size: x-large;
}

.result-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.order-button {
  background: lightgreen;
  color: green;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid green;
  padding: 7px 80px;
}

.provider-info {
  text-align: center;

}

.img-slider {
  width: 100%;
}


.img-slider-thumbNails {
  padding: 3px;
  height: 75px;
  max-width: 100px;
}

.hotel {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.hotel-name {
  margin: 0;
}

.hotel-stars {
  color: gold;
}

::ng-deep .p-galleria-thumbnail-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.offerHeading {
  font-size: 30px;
}
.offerDescription {
  margin-left: 15px;
}


.logo-title-subtitle {
  display: inline-flex;
}
