<mat-card class="container">
  <mat-card-title>Hotel login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input type="email" matInput placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>
      <p class="registerTitle">Don't have an account yet?   <a class="registerButton" href="#">register</a></p>
    </form>
  </mat-card-content>
</mat-card>
