<div class="dashboard-header">
  <h1>Create new Offer</h1>
  <div class="dashboard-header--buttons">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="warn">Cancel</button>
  </div>
</div>


<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>-->


<mat-horizontal-stepper [linear]="isLinear" #stepper (submit)="onSubmit()">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" #costumeForm="ngForm">
      <ng-template matStepLabel>Basic details</ng-template>
      <mat-form-field>
        <mat-label>Offer headline title</mat-label>
        <input matInput placeholder="Offer headline title" formControlName="firstCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Offer short details (max 50 characters)</mat-label>
        <textarea matInput placeholder="Offer headline title" formControlName="firstCtrl" required></textarea>
      </mat-form-field>
      <div class="date-interval">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="available-offers">
        <mat-form-field>
          <mat-label>Available offers (quantity the offer can be selled)</mat-label>
          <input matInput type="number" step="1" min="1" max="5" required>
        </mat-form-field>
        <mat-checkbox class="example-margin">limitless offer</mat-checkbox>
      </div>
      <mat-form-field>
        <mat-label>Price (HUF)</mat-label>
        <input matInput type="number" step="100" required>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup" label="Extra details">
    <form  [formGroup]="secondFormGroup" (submit)="onSubmit()">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="warn" (click)="stepper.reset()">Cancel</button>
          <button type="submit" mat-raised-button color="primary"
                  [disabled]="!secondFormGroup.valid">
            Save
          </button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
