$padding: 20px;
$primary-color: #3f51b5;

:host {
    .mat-sidenav-container {
      padding: $padding;
      background-color: transparent;
      height: 100vh
    }
    .mat-sidenav {
      border: none;
      width: 20%;
    }
    .mat-list-item:hover{
      background-color: transparent;
      border-left: 3px solid $primary-color;
    }

  }

