$padding: 20px;
$primary-color: #3f51b5;

:host {
  .sidenav {
    width: 20%;
    padding-left: $padding;
    .menu-item {
      margin: 10px 0;
    }
    .menu-item:hover {
      background-color: transparent;
      border-left: 3px solid $primary-color;
    }
    .menu-item:active {
      background-color: transparent;
    }
  }

}
