<app-header>
  <div class="logo-title-subtitle" routerLink="">
    <mat-icon class="logo">auto_awesome</mat-icon>
    <h1>Hotel Offers</h1>
  </div>
</app-header>
<mat-card>
  <mat-card-title>Frequently asked questions</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>How can I book on Hotel Offers?</mat-list-item>
      <mat-list-item>How do I know if the hotel is bookable?</mat-list-item>
      <mat-list-item>How can I see the different rates?</mat-list-item>
      <mat-list-item>How can I see which features are included in the price?</mat-list-item>
      <mat-list-item>Can I book without credit card?</mat-list-item>
      <mat-list-item>Is my credit card being charged at time of booking?</mat-list-item>
      <mat-list-item>Where can I see the booking conditions?</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
