/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul { list-style-type: none; }
h1 { margin: 0 }
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.flex-grow-1 {
    flex-grow: 1;
}
.w-100 { width: 100%; }
.link {
    align-self: center;
    text-decoration: none;
 }

 .country-component-fixer {
     .mat-form-field {
         width: 100%;
     }
 }