<footer>

  <div class="logo-section">
    <div class="logo-box">
      <h6 class="copyright">2021</h6>
      <mat-icon>copyright</mat-icon>
    </div>
    <div class="logo-box">
      <mat-icon>auto_awesome</mat-icon>
      <h1>Hotel Offers</h1>
    </div>
  </div>


<div class="navigation">
    <nav>
      <ul class="menu info">
        <li class="menu-item">FAQ</li>
        <li class="menu-item">Contact Us</li>
        <li class="menu-item">Terms and Conditions</li>
      </ul>
    </nav>

    <nav>
      <ul class="menu provider">
        <li class="menu-item" routerLink="/login">Are you a provider?</li>
        <li class="menu-item" routerLink="/register"> <span class="registration">register as provider <mat-icon class="arrow-icon">chevron_right</mat-icon></span>  </li>
      </ul>
    </nav>
</div>

</footer>


