<div class="ourNumbers-container">
  <div class="ourNumbers">
    <h2 class="ourNumbers-title">Our numbers</h2>
    <p class="ourNumbers-body">You can see how many user have already chosen our service. Be one of our customers!</p>
  </div>

  <div class="stats">
    <mat-card class="hotels">
      <h1 class="numberOfHotels">{{stats?.providersCount}}</h1>
      <h3 class="numberOfHotels-title">Hotels</h3>
      <p class="numberOfHotels-body">Widest variety of provides, and list is growing!</p>
    </mat-card>
    <mat-card class="offers">
      <h1 class="numberOfOffers">{{ stats?.offersCount}}</h1>
      <h3>Offers</h3>
      <p>Constant new deals and offers with the best price!</p>
    </mat-card>
    <mat-card class="orders">
      <h1 class="numberOfOrders">{{ stats?.ordersCount }}</h1>
      <h3>Orders</h3>
      <p>Yes!So many orders were on our site till now.</p>
    </mat-card>
  </div>
</div>

