<footer>

  <div class="logo-section">
    <div class="logo-box">
      <h6 class="copyright">2021</h6>
      <mat-icon>copyright</mat-icon>
    </div>
    <div class="logo-box">
      <mat-icon>star</mat-icon>
      <h1>Hotel Offers</h1>
    </div>
  </div>


<div class="navigation">
    <nav>
      <ul class="menu info">
        <li class="menu-item">FAQ</li>
        <li class="menu-item">Contact Us</li>
        <li class="menu-item">Terms and Conditions</li>
      </ul>
    </nav>

    <nav>
      <ul class="menu provider">
        <li class="menu-item">Are you a provider?</li>
        <li class="menu-item registration">register as provider</li>
      </ul>
    </nav>
</div>

</footer>


