<mat-card class="d-flex flex-column">
  <mat-card-header class="d-inline-flex justify-content-between">
    <mat-card-title>{{data.heading}}</mat-card-title>
    <div class="d-inline-flex flex-row">
      <p>data</p>
      <p>data</p>
    </div>
  </mat-card-header>
  <div class="d-inline-flex flex-row justify-content-between">
    <mat-card-content>
      <table>
        <tr>
          <th>status</th>
          <th>images</th>
          <th>complete</th>
          <th>price</th>
          <th>orders</th>
          <th>count</th>
        </tr>
        <tbody>
        <tr>
          <td>data</td>
          <td>data</td>
          <td>complete.data</td>
          <td>price.data</td>
          <td>orders.data</td>
          <td>count.data</td>
        </tr>
        </tbody>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab color="primary">
        <mat-icon class="edit">edit_outline</mat-icon>
      </button>
      <button mat-mini-fab color="warn">
        <mat-icon class="delete">delete_outline</mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-card>


